.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    text-decoration-line: underline;
    margin: 10px 0px;
    font-size: 40px;
}